@media  (max-width: 600px) {

    .cardClass input, span{
        display: inline-block;
        width: 100%;
        border-radius: 0px;
    }
    .delCard{
        display: inline-block;
        width: 100%;
    }
}