
.content{
    background-color: #f1f1f1;
    border: #919191 1px solid;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.content button{
    margin-left: 30px;
    margin-right: 30px;
}

.center{
    text-align: center;
}