<h3>Public sets</h3>
<h5>Total: <span class="badge bg-primary">{{sets.length}}</span></h5>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div *ngFor="let set of sets" class="col btm-mg">
    <div class="card h-100">
      <!-- <img [src]="user.image" class="card-img-top float-end" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">{{ set.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Created by: {{ getOwnerName(set.ownerId) }}</h6>
        <p class="card-text">{{ set.description }}</p>
        <div class="d-grid gap-2">
          <button [routerLink]="['/modes/', set.id]" class="btn btn-success" type="button"><i class="fa-solid fa-play"></i> Play</button>
        </div>
      </div>
    </div>
  </div>
</div>